<h1> About Dracula</h1>

<p> Tracking Dracula
	» Places to explore
	» Upcoming Dracula themed tours

	Dracula – Beyond the Legend
	» Bram Stoker’s inspiration
	» Who was Vlad Dracula ?

	" We Draculs have a right to be proud… 
	I am the last of my kind "
	 – Dracula, from Bram Stoker’s Dracula

	Some say that Transylvania sits on one of Earth's strongest magnetic fields and its people have extra-sensory perception. Vampires are believed to hang around crossroads on St. George's Day, April 23, and the eve of St. Andrew, November 29. The area is also home to Bram Stoker's Dracula, and it's easy to get caught up in the tale while driving along winding roads through dense, dark, ancient forests and over mountain passes.

	Dracula is literally translated in Gaelic as 
	Drac Ullah meaning bad blood.
	Tales of the supernatural had been circulating in Romanian folklore for centuries when Irish writer Bram Stoker picked up the thread and spun it into a golden tale of ghoulishness that has never been out of print since its first publication in 1897. To research his immortal tale, Stoker immersed himself in the history, lore and legends of Transylvania, which he called a “whirlpool for the imagination.”

	Bram Stoker’s Dracula novel was published in Romanian for the first time in 1990.
	Count Dracula, a fictional character in the Dracula novel, was inspired by one of the best-known figures of Romanian history, Vlad Dracula, nicknamed Vlad Tepes (Vlad the Impaler), who was the ruler of Walachia at various times from 1456-1462. Born in 1431 in Sighisoara, he resided all his adult life in Walachia, except for periods of imprisonment at Pest and Visegrad (in Hungary). For more information about Bram Stocker's Dracula Novel please visit www.literature.org/authors/stoker-bram/dracula/
</p>

<p class="explenation">work on a feature where you can click a button to trigger a pop-up.we use the action handlebars helper define the action in the controller associated with this root </p>

<button class="btn btn-primary" {{action 'showRealName'}}> Click her to lear about Drasula's real Name!</button>

{{#if isPictuerShowing}}
<p><img
src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHEWGbsDO2uv5FLEcwuK9fd2h5n8V-64gQnIy_e2YadjiWtZtzBw"
alt="Click to see DARCULA's Great MUSTACH"></p>
{{else}}
	<button class="btn btn-info" {{action 'showPicture'}}> Click to see DARCULA's Great Mustachio</button>
	{{/if}}




